/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 19px;
    line-height: 1.63;
    word-wrap: break-word;
    color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    margin-top: 0;
    color: #666666;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 31px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 25px;
}

p {
    margin: 0 0 1.25em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    font: 1em/1.5 "Courier 10 Pitch", Courier, monospace;
    display: block;
    overflow: auto;
    margin: 0 0 1.5em;
    padding: 2em 1em;
    color: #fff;
    background-color: #212121;
}

code {
    font: 16px/1.5 "Courier 10 Pitch", Courier, monospace;
    padding: 2px 4px 0;
    color: #000;
    border: 1px solid #e3e3e3;
    background: #f6f6f6;
}

abbr,
abbr[title],
acronym {
    cursor: help;
    border: 0;
}

mark,
ins {
    font-weight: bold;
    padding: 0px 5px;
    white-space: nowrap;
    text-decoration: none;
    color: #0d47a1;
    border-radius: 2px;
    background-color: #eaeef1;
}

big {
    font-size: 125%;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background: #fff;
}

blockquote {
    margin: 0 0 1.5em;
    padding: 0 0 0 1.5em;
    color: #666;
    border-left: 5px solid #e1e1e1;
}

blockquote blockquote {
    padding: 0.5em 2em;
}

blockquote cite {
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-top: 10px;
    color: #000;
}

hr {
    height: 1px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: #ededed;
}

ul,
ol {
    margin: 0 0 1.5em 1em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    max-width: 100%;
    /* Adhere to container width. */
    height: auto;
    /* Make sure images are scaled correctly. */
    vertical-align: middle;
}

table {
    width: 100%;
    margin: 0 0 1.5em 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}

caption,
th,
td {
    font-weight: normal;
    padding: 0.8em 30px 0.7em;
    text-align: left;
    border: 1px solid #e1e1e1;
}

table caption {
    text-align: center;
    border-bottom: 0;
}

th {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    /* Improves appearance and consistency in all browsers */
    font-size: 100%;
    margin: 0;
    /* Corrects font size not being inherited in all browsers */
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 19px;
    font-weight: 800;
    line-height: 1;
    display: inline-block;
    padding: 17px 27px 14px;
    cursor: pointer;
    color: #fff;
    border: 0;
    background: #169dca;
    -webkit-box-shadow: 4px 4px 0 #096a8b;
            box-shadow: 4px 4px 0 #096a8b;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;

    /* Corrects inability to style clickable 'input' types in iOS */
}

.mejs-controls .mejs-button button {
    -webkit-box-shadow: none;
            box-shadow: none;
}

a.button {
    -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    padding: 0;

    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;

    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
}

input[name="post_password"] {
    margin-bottom: 20px !important;
}

::-webkit-input-placeholder {
    font-size: 15px;
    color: #bfbbbb;
}

:-moz-placeholder {
    font-size: 15px;
    color: #bfbbbb;
}


/* Firefox 18- */
::-moz-placeholder {
    font-size: 15px;
    color: #bfbbbb;
}

/* Firefox 19+ */

:-ms-input-placeholder {
    font-size: 15px;
    color: #bfbbbb;
}

textarea {
    overflow: auto;
    width: 100%;
    min-height: 170px;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding: 10px 20px;
    vertical-align: top;

    /* Improves readability and alignment in all browsers */
}

legend {
    font-weight: bold;
    margin: 0;
    padding: 0;
    white-space: normal;
    border: 0;
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 12px 20px 9px 20px;
    color: #8e8e8e;
    border: 1px solid #e1e1e1;
    background: #fff;
}

input[type="number"] {
    width: auto;
}

label {
    cursor: pointer;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

a {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    color: #3498db;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #0d47a1;
    outline: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: #0d47a1;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.main {
    overflow: hidden;
    margin-bottom: 20px !important;
}

.wrap {
    clear: both;
    width: 1140px;
    margin: 0 auto;
}

.header {
    width: 98%;
    height: 203px;
    margin-bottom: 55px;
    padding-top: 36px;
    padding-left: 2%;
    background: #616161;
    -webkit-box-shadow: 6px 6px 0 #388e3c;
            box-shadow: 6px 6px 0 #388e3c;
}

.site-title {
    font-size: 60px;
    margin: 0;
}

.site-title span {
    display: inline-block;
    padding: 18px 0 0 22px;
    color: #fff;
}

.site-title img {
    margin-top: -13px;
}

.content {
    float: right;
    width: 74.5%;
}

.content img {
    margin-bottom: 1.5em;
}

.content ol {
    list-style: none;
    counter-reset: li;
}

.content ol li {
    line-height: 31px;
    padding-left: 20px;
    counter-increment: li;
}

.content ol li::before {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    width: 1.1em;
    margin-left: -38px;
    content: counter(li) ".";
    color: #666666;
}

.section {
    margin-bottom: 35px;
}

.section-title {
    font-size: 37px;
    margin-bottom: 12px;
}

.subsection-title {
    font-size: 32px;
    margin-bottom: 12px;
}

.section-link {
    font-size: 14px;
    float: right;
    width: 26px;
    height: 23px;
    margin-top: 16px;
    padding-top: 2px;
    text-align: center;
    background: #0d47a1;
    -webkit-box-shadow: -3px 3px 0 #42a5f5;
            box-shadow: -3px 3px 0 #42a5f5;
}

.section-link i {
    color: #fff;
}

.subsection {
    margin-top: 20px;
}

.sidebar {
    float: left;
    width: 23%;
}

.menu {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    margin: 6px;
    padding: 31px 20px 16px 30px;
    list-style-position: inside;
    color: #01579b;
    background: #eeeeee;
    -webkit-box-shadow: -6px -6px 0 #e0e0e0;
            box-shadow: -6px -6px 0 #e0e0e0;
}

.menu li {
    margin-bottom: 11px;
}

.menu i {
    display: inline-block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
}

.menu li.active,
.menu li.active .submenu li.active {
    font-weight: bold;
}

.menu li.active .submenu li {
    font-weight: normal;
}

.submenu {
    font-size: 16px;
    display: none;
    visibility: hidden;
    margin: 7px 0 0 15px;
    list-style: none;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 0;
}

.active .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.submenu li {
    margin-bottom: 8px;
}

.submenu a {
    display: block;
    padding-left: 20px;
}

.submenu span {
    margin-left: -20px;
}

.alert {
    line-height: 1.45;
    position: relative;
    margin-bottom: 1.5em;
    padding: 16px 23px;
    border: 3px solid;
}

.alert:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: -31px;
    right: -3px;
    width: 34px;
    height: 28px;
    padding-top: 2px;
    content: '';
    text-align: center;
    color: #fff;
}

.alert-success {
    border-color: #2e7d32;
    -webkit-box-shadow: 4px 4px 0 #81c784;
            box-shadow: 4px 4px 0 #81c784;
}

.alert-success:before {
    content: '\f00c';
    background: #2e7d32;
}

.alert-info {
    border-color: #1565c0;
    -webkit-box-shadow: 4px 4px 0 #64b5f6;
            box-shadow: 4px 4px 0 #64b5f6;
}

.alert-info:before {
    content: '\f129';
    background: #1565c0;
}

.alert-warning {
    border-color: #f57f17;
    -webkit-box-shadow: 4px 4px 0 #ffc400;
            box-shadow: 4px 4px 0 #ffc400;
}

.alert-warning:before {
    content: '\f071';
    background: #f57f17;
}

.alert-warning {
    border-color: #d32f2f;
    -webkit-box-shadow: 4px 4px 0 #ef9a9a;
            box-shadow: 4px 4px 0 #ef9a9a;
}

.alert-warning:before {
    content: '\f00d';
    background: #d32f2f;
}

.buy-link {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 110px;
    margin: 25px auto 0;
    padding: 10px 10px 8px;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    border-radius: 25px;
    background: #ec407a;
    -webkit-box-shadow: 0 4px 0 #ad1457;
            box-shadow: 0 4px 0 #ad1457;
}

.credits-title {
    margin-bottom: 20px;
}

.footer-sidebar {
    float: right;
    width: 74.5%;
    margin: 0 0 46px;
    padding-top: 18px;
    border-top: 1px solid #e0e0e0;
}

.widget {
    float: left;
    width: 33.33%;
}

.widget-title {
    font-size: 22px;
    font-weight: normal;
    color: #212121;
}

.widget ul {
    margin: 0;
    list-style: none;
}

.footer {
    float: right;
    width: 74.5%;
}

.row {
    clear: both;
    margin: 0 -15px;
}

.half {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.clear:before,
.clear:after {
    display: table;
    content: "";
}

.clear:after {
    clear: both;
}

@media only screen and ( max-width: 1240px ) {
    .wrap {
        width: 90%;
        padding: 0 5%;
    }
    .sidebar,
    .content,
    .footer,
    .footer-sidebar {
        float: none;
        width: 100%;
    }
    .footer-sidebar {
        overflow: hidden;
    }
}

@media only screen and ( max-width: 768px ) {
    .header {
        height: auto;
        text-align: center;
    }
    .site-title span {
        display: block;
        padding: 0;
    }
}
@media only screen and ( max-width: 480px ) {
    .footer-sidebar .widget {
        width: 100%;
        margin-bottom: 30px;
    }
}